@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import "react-toastify/dist/ReactToastify.css";
/* globals.css または任意のグローバルスタイルファイルに追加 */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  font-family: "Montserrat", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.underline-left {
  position: relative;
  display: inline-block;
}

.underline-left::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-left:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.gradient-overlay::after,
.gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  z-index: 1;
}

.gradient-overlay::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-overlay .blur-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  backdrop-filter: blur(4px);
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots li button:before {
  color: black;
}

.slick-dots li.slick-active button:before {
  color: black;
}
/* グローバルCSSファイル（例えば、globals.css）に追加 */
.slider-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.slider-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-nav-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
}

.slider-item {
  flex: 0 0 auto;
  padding: 0 6px;
  white-space: nowrap;
}

/* モバイル対応のためのレスポンシブデザイン */
@media (max-width: 768px) {
  .slider-nav-button {
    padding: 0 5px; /* ナビゲーションボタンのパディングを小さくする */
  }

  .slider-item {
    padding: 0 5px; /* スライダーアイテムのパディングを小さくする */
  }
}
